*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satisfy', cursive;
}

body{
  margin: 50px;
  background-color: #fff;
}

.title{
  color: #55efc4;
  margin-bottom: 10px;

}

.container_chart{
  background-color: #fff;
  height: 500px;
  width: 1200px;
  margin-top: 40px;
  margin-left: 10px;
}

#myChart1{
  max-width: 430px;
  max-height: 370px;
  float: left;
  margin: 15px 100px;
}

#myChart2{
  max-width: 320px;
  max-height: 420px;
  float: left;
  margin: 15px 100px;
}
