*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satisfy', cursive;
}

body{
  margin: 50px;
  background-color: #2d3436;
}

.container_chart{
  background-color: #fff;
  height: 500px;
  width: 1200px;
}

#myChart1,
#myChart2{
  max-width: 400px;
  max-height: 500px;
  float: left;
  margin: 15px 100px;
}
