*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body{
  margin: 50px;
  background-color: #fff;
}

.title{
  color: #636e72;
  margin-bottom: 10px;

}

.container_chart{
  background-color: #fff;
  height: 500px;
  width: 1200px;
  margin-top: 40px;
  margin-left: 10px;
}

#myChart1{
  max-width: 500px;
  max-height: 470px;
  float: left;
  margin: 15px 60px;
}

#myChart2{
  max-width: 410px;
  max-height: 410px;
  float: left;
  margin: 15px 60px;
}

.dates > .nomi{
  float:left;
  padding: 5px;
  color: #636e72;
  margin-left: 400px;
  border: 1px solid #636e72;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}

.input_dates > .importo{
  padding: 5px;
  width: 250px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #636e72;
  border-radius: 2px;
  color: #636e72;
  font-weight: bold;
}

.input_dates > .mesi{
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #636e72;
  border-radius: 2px;
  color: #636e72;
  font-weight: bold;
  height: 29px;
  width: 120px;
}

.container > button{
  margin-top: 10px;
  padding: 3px;
  background-color: #fff;
  margin-left: 590px;
  border: 1px solid #636e72;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 90px;
  color: #636e72;
  font-weight: bold;
  box-shadow: 3px 3px 3px #636e72;
}
